h1 {
    font-size : 17px;
    color: #2c3e50;
}

.btn {
    background-color: #2ecc71;
    color: #ffffff;
    font-size : 16px;
    border : 0;
    border-radius: 5%;
    padding : 15px;
}

.btn:hover {
    background-color:#27ae60;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    border : 1px solid #f5c6cb;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

.list-group {
    font-size:16px;
    border-radius: 5%;
    list-style-type: none;
}

.list-group-item {
    border: 1px solid #DFDFDF;
    padding : 15px;
}

/* CARD*/

.card {
    display: block;
    border: 1px solid #DFDFDF;
    border-radius:2%;
    font-size: 14px;
    width:20%;
    min-width:300px;
}

#card-image {
    height:150px;
    width:100%;
    border: 0;
}

.card-title {
    font-size:16px;
    font-weight:bold;
}

.card-body {
padding: 15px;
font-size:14px;
}

/* Menu de navigation*/

.navbar {
background-color:#f8f9fa;
color: #2c3e50;
padding: 15px;
font-size : 14px;
display:flex;
justify-content: flex-start;
list-style-type: none;
}

.navbar-item {
padding: 15px;
}

@media only screen and (max-width: 700px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}